@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eventease</h1>
    <a asp-controller="Venues" asp-action="Index" class="home-button">View Venues</a>
    <a asp-controller="Events" asp-action="Index" class="home-button">View Events</a>
    <a asp-controller="Bookings" asp-action="Index" class="home-button">Make Bookings</a>
    <div class="highlight-button-container">

        <a asp-controller="Bookings" asp-action="EnhancedDisplay" class="highlight-button">View Bookings</a>
        
        </div>

    
</div>
